@{
    ViewData["Title"] = "Яндекс.Касса";
}

<h1>Яндекс.Касса</h1>

<p>
    @*<a href="@Url.Action("Callback", "Home", new { area = "YandexKassa" })">Оплатить</a>*@
    <a href="/YandexKassa/Home/Callback">Оплатить</a>
</p>
